<div class="banner animate__animated animate__fadeIn animate__faster">
  <h1>¿Quines somos?</h1>
</div>

<!-- misión -->
<mat-card id="mision" class="container-width container-center space-top-16 myCard-img-rigth">
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>MISIÓN</mat-card-title>
      <mat-card-subtitle>
        La misión de nuestra institución educativa
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        La Institución Educativa San Rafael es una entidad de carácter oficial, presente en la zona  urbana y rural, que presta un servicio público en todos los niveles de educación formal y no formal (Preescolar, Básica, Media Académica)  a través de la implementación de programas flexibles (Multigrado, Post-primaria,  Ciclos Lectivos Especiales Integrados-CLEI) y un modelo pedagógico crítico social con enfoque de enseñanza por investigación que, con las Tecnologías de la Información y la Comunicación como eje   transversal de los procesos formativos, reconoce a los estudiantes como seres humanos íntegros, sujetos activos de derechos y deberes, con valores cívicos,  morales y espirituales, y capaces de contribuir al desarrollo sostenible de la realidad social, económica y natural de la región.
      </p>
    </mat-card-content>
  </div>
  <div
    mat-card-image
    class="ajedrez imgCard"
  ></div>
</mat-card>

<!-- visión -->
<mat-card id="vision" class="container-width container-center space-top-16 myCard-img-left">
  <div
    mat-card-image
    class="formacion imgCard"
  ></div>
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>VISIÓN</mat-card-title>
      <mat-card-subtitle>
        La visión de nuestra institución educativa
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        La Institución Educativa San Rafael, en el año 2027 será reconocida en la región por la formación de seres humanos íntegros,  que representen un  cambio positivo en la sociedad, contribuyendo al desarrollo de su entorno rural y urbano, mediante el aprovechamiento de los recursos tecnológicos,  los avances de la ciencia, las ideas innovadoras y el emprendimiento.
      </p>
    </mat-card-content>
  </div>
</mat-card>

<!-- PEI -->
<mat-card id="pei" class="container-width container-center space-top-16 myCard-img-rigth">
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>PEI</mat-card-title>
      <mat-card-subtitle>
        Plan Educativo Institucional
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Conozca nuestro Plan Educativo Institucional para el desarrollo de nuestros estudiantes.
      </p>
      <div style="text-align: center;">
        <a mat-button href="/assets/documents/plan-educativo-institucional.pdf" style="padding-top: 8px;">
          <i class="fas fa-file-pdf fa-3x"></i>
          <br>
          Haga clic aquí para descargar el archivo PDF del PEI
        </a>
      </div>
    </mat-card-content>
  </div>
  <div
    mat-card-image
    class="pei imgCard"
  ></div>
</mat-card>
