<div class="banner animate__animated animate__fadeIn animate__faster">
  <h1>Nuestros servicios</h1>
</div>

<!-- biblioteca -->
<mat-card id="biblioteca" class="container-width container-center space-top-16 myCard-img-rigth">
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Biblioteca</mat-card-title>
      <mat-card-subtitle>
        Nuestra biblioteca es la más completa de la región en el municipio de Heliconias
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Nuestra gran biblioteca mantiene siempre actualizada para brindar al estudiante siempre la última información disponible sobre los temas de actualidad y con referencia a las materias dictadas en nuestra sede Cristo Rey.
      </p>
      <p>
        Para hacer uso de nuestra biblioteca, solo basta con presentar el carné estudiantil y estar acompañados de un docente en jornada académica.
      </p>
      <mat-list>
        <div mat-subheader>Los horarios de uso son</div>
        <mat-list-item>07:00 AM a 12:00 PM</mat-list-item>
        <mat-list-item>02:00 PM a  05:00 PM</mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>
  <div
    mat-card-image
    class="biblioteca imgCard"
  ></div>
</mat-card>

<!-- fotocopias -->
<mat-card id="fotocopias" class="container-width container-center space-top-16 myCard-img-left">
  <div
    mat-card-image
    class="fotocopias imgCard"
  ></div>
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Fotocopias</mat-card-title>
      <mat-card-subtitle>Con lo más avanzado en tecnología</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Las fotocopias en nuestra sede de Cristo Rey, está disponible para todo el público en los siguientes horarios
      </p>
      <mat-list>
        <mat-list-item>08:00 AM a 12:00 PM</mat-list-item>
        <mat-list-item>02:00 PM a  04:00 PM</mat-list-item>
      </mat-list>
      <p>
        El costo de la fotocopia tiene un costo para los estudiantes de $50 y para el público en general a $100. El servicio de fotocopias no se presta a los estudiantes por fuera de los horarios de descanso.
      </p>
    </mat-card-content>
  </div>
</mat-card>

<!-- Apoyo Psicosocial -->
<mat-card id="apoyo-psicosocial" class="container-width container-center space-top-16 myCard-img-rigth">
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Apoyo psicosocial</mat-card-title>
      <mat-card-subtitle>
        La mejor profesional al servicio de nuestros estudiantes
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Nuestra institución cuenta con una grandiosa psicóloga en la cual atiende a nuestros estudiantes con dificultades de aprendizaje, evaluándolos y decidiendo cuál es la mejor forma de darle manejo.
      </p>
      <div style="text-align: center;">
        <img
          src="/assets/images/pscoloca.jpg"
          style="width: 40%; border-radius: 5px;"
        >
        <p>Jessica Arenas Sepúlveda</p>
      </div>
    </mat-card-content>
  </div>
  <div
    mat-card-image
    class="apoyo imgCard"
  ></div>
</mat-card>

<!-- Educación basica primaria -->
<mat-card id="basica-primaria" class="container-width container-center space-top-16 myCard-img-left">
  <div
    mat-card-image
    class="primaria imgCard"
  ></div>
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Educación basica primaria</mat-card-title>
      <mat-card-subtitle>Con lo más avanzado en tecnología</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Nuestra grandiosa institución educativa Cristo Rey, presta los servicios de educación básica primaria desde preescolar hasta el grado quinto, luego nuestros estudiantes pasan directamente a la secundaria de la institución educativa San Rafael.
      </p>
      <mat-list>
        <mat-list-item>Preescolar: 4 a 5 años de edad.</mat-list-item>
        <mat-list-item>Primero: 6 a 7 años de edad.</mat-list-item>
        <mat-list-item>Segundo: 7 a 8 años de edad.</mat-list-item>
        <mat-list-item>Tercero: 8 a 9 años de edad.</mat-list-item>
        <mat-list-item>Cuarto: 9 a 10 años de edad.</mat-list-item>
        <mat-list-item>Quinto: 10 a 11 años de edad.</mat-list-item>
      </mat-list>
      <a mat-flat-button color="primary" style="width: 100%;" href="#">
        CLIC AQUI PARA ENTRAR EN EL ENTORNO....
      </a>
    </mat-card-content>
  </div>
</mat-card>
