<div class="banner animate__animated animate__fadeIn animate__faster">
  <h1>Secretaría académica</h1>
</div>

<!-- Certificados -->
<mat-card
  id="certificados"
  class="container-width container-center space-top-16 myCard-img-rigth"
>
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Certificados</mat-card-title>
      <mat-card-subtitle>XXXXX</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Los certificados deben de ser solicitados con 15 días de anticipación en la secretaría general, para los estudiantes activos en el momento es completamente gratis, para los egresados y estudiantes del sabatino tiene un costo de $7.000
      </p>
    </mat-card-content>
  </div>
  <div
    mat-card-image
    class="certificados imgCard"
  ></div>
</mat-card>

<!-- Admisiones -->
<mat-card
  id="admisiones"
  class="container-width container-center space-top-16 myCard-img-left"
>
  <div
    mat-card-image
    class="admisiones imgCard"
  ></div>
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Admisiones</mat-card-title>
      <mat-card-subtitle>XXXXX</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        ........................
      </p>
    </mat-card-content>
  </div>
</mat-card>

<!-- Refuerzos -->
<mat-card
  id="refuerzos"
  class="container-width container-center space-top-16 myCard-img-rigth"
>
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Refuerzos</mat-card-title>
      <mat-card-subtitle>XXXXXX</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        ........................
      </p>
    </mat-card-content>
  </div>
  <div
    mat-card-image
    class="refuerzos imgCard"
  ></div>
</mat-card>

<!-- Inscripciones -->
<mat-card
  id="inscripciones"
  class="container-width container-center space-top-16 myCard-img-left"
>
  <div
    mat-card-image
    class="inscripciones imgCard"
  ></div>
  <div>
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-newspaper icon-40"
      ></div>
      <mat-card-title>Inscripciones</mat-card-title>
      <mat-card-subtitle>XXXXX</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Las inscripciones se realizan la última semana del calendario académico, normalmente en el mes de noviembre o diciembre y en el primero mes del nuevo año lectivo (enero - febrero). La inscripción es totalmente gratis.
      </p>
      <mat-list>
        <div mat-subheader>Requisitos</div>
        <mat-list-item>
          Documento de identidad (Registro Civil, Tarjeta de identidad o Cédula de Ciudadanía)
        </mat-list-item>
        <mat-list-item>
          Documento de identidad de los acudientes.
        </mat-list-item>
        <mat-list-item>
          Dos fotos tipo documento, es decir, de 3x4 fondo azul.
        </mat-list-item>
        <mat-list-item>
          Certificado de calificaciones del año anterior cursado.
        </mat-list-item>
        <mat-list-item>
          El último recibo de los servicios públicos.
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>
</mat-card>
