<div class="banner animate__animated animate__fadeIn animate__faster">
  <h1>Transporte estudiantil</h1>
</div>

<!-- menú diario -->
<mat-card
  id="informacion-rutas"
  class="container-width container-center space-top-16"
>
  <mat-card-header>
    <div
      mat-card-avatar
      class="fas fa-newspaper icon-40"
    ></div>
    <mat-card-title>Información de rutas</mat-card-title>
    <mat-card-subtitle>XXXXXXXXXXXXXXXX</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>..........................</p>
  </mat-card-content>
</mat-card>
