<div class="banner animate__animated animate__fadeIn animate__faster">
  <h1>Enlaces de interés</h1>
</div>

<!-- enlaces de interés -->
<mat-card
  id="enlaces"
  class="container-width container-center space-top-16"
>
  <mat-card-header>
    <div
      mat-card-avatar
      class="fas fa-newspaper icon-40"
    ></div>
    <mat-card-title>Enlaces de interés</mat-card-title>
    <mat-card-subtitle>XXXXXXXXXXXXXXXX</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>..........................</p>
  </mat-card-content>
</mat-card>
