<div class="mapa">
  <div>
    <h4>Inicio</h4>
    <hr>
    <ul>
      <li>
        <a
          mat-button
          [routerLink]="['/']"
          fragment="noticias-semanales"
        >
          Noticias semanales
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/']"
          fragment="logros-academicos"
        >
          Logros académicos
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/']"
          fragment="redes-sociales"
        >
          Redes sociales
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Quienes somos</h4>
    <hr>
    <ul>
      <li>
        <a
          mat-button
          [routerLink]="['/quienes-somos']"
          fragment="mision"
        >
          Misión
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/quienes-somos']"
          fragment="vision"
        >
          Visión
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/quienes-somos']"
          fragment="pei"secretaria-academica
        >
          PEI
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Servicios</h4>
    <hr>
    <ul>
      <li>
        <a
          mat-button
          [routerLink]="['/servicios']"
          fragment="biblioteca"
        >
          Biblioteca
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/servicios']"
          fragment="fotocopias"
        >
          Fotocopias
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/servicios']"
          fragment="apoyo-psicosocial"
        >
          Apoyo psicosocial
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/servicios']"
          fragment="basica-primaria"
        >
          Edu. básica primaria
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Secretaría académica</h4>
    <hr>
    <ul>
      <li>
        <a
          mat-button
          [routerLink]="['/secretaria-academica']"
          fragment="certificados"
        >
          Certificados
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/secretaria-academica']"
          fragment="admisiones"
        >
          Admisiones
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/secretaria-academica']"
          fragment="refuerzos"
        >
          Refuerzos
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/secretaria-academica']"
          fragment="inscripciones"
        >
          Inscripciones
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Restaurante escolar</h4>
    <hr>
    <ul>
      <li>
        <a
          mat-button
          [routerLink]="['/restaurante-escolar']"
          fragment="menu-diario"
        >
          Programación diaria
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/restaurante-escolar']"
          fragment="menu-semanal"
        >
          Programación semanal
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Transporte estudiantil</h4>
    <hr>
    <ul>
      <li>
        <a
          mat-button
          [routerLink]="['/transporte-estudiantil']"
          fragment="informacion-rutas"
        >
          Información de rutas
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Enlaces de interés</h4>
    <hr>
    <ul>
      <li>
        <a
          mat-button
          [routerLink]="['/enlaces-de-interes']"
          fragment="enlaces"
        >
          Alcaldía municipal
        </a>
      </li>
      <li>
        <a
          mat-button
          [routerLink]="['/enlaces-de-interes']"
          fragment="enlaces"
        >
          Cootrasana
        </a>
      </li>
    </ul>
  </div>
</div>
