<div class="banner animate__animated animate__fadeIn animate__faster"></div>
<div class="container-width container-center space-top-16 principal">
  <div>
    <mat-card id="noticias-semanales">
      <mat-card-content>
        <mat-card-header>
          <div
            mat-card-avatar
            class="fas fa-newspaper icon-40"
          ></div>
          <mat-card-title>Noticias semanales</mat-card-title>
          <mat-card-subtitle>Semanal del ecoturismo</mat-card-subtitle>
        </mat-card-header>
        <mat-list role="list">
          <mat-list-item>
            <mat-icon
              mat-list-icon
              class="fas fa-crow"
            ></mat-icon>
            <div mat-line>Avistamiento de aves</div>
            <p mat-line>
              Los estudiantes de quinto grado fueron a un avistamiento de aves en la verda Los Alámos
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon
              matListIcon
              class="fas fa-paper-plane"
            ></mat-icon>
            <h3 matLine>Concurso de aviones de papel</h3>
            <p matLine>
              El gran concurso de aviones de papel tuvo lugar en la institución con los alumnos del grado
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon
              matListIcon
              class="fas fa-hiking"
            ></mat-icon>
            <h3 matLine>Senderismo ecológico</h3>
            <p matLine>
              Los estudiantes de grado cuarto tuvieron una caminata ecológica por los alrededores del municipio de Heliconia
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card id="logros-academicos">
      <mat-card-header>
        <div
          mat-card-avatar
          class="fas fa-graduation-cap icon-40"
        ></div>
        <mat-card-title>Logros académicos</mat-card-title>
        <mat-card-subtitle>
          Aquí todos los logros académicos de la institución
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item>
            <mat-icon
              mat-list-icon
              class="fas fa-flask"
            ></mat-icon>
            <div mat-line>Semana de la ciencia</div>
            <p mat-line>
              Un estudiante de tercer grado fue destacado con su maravilloza maqueta y explicación de los volcanes
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon
              matListIcon
              class="fas fa-people-arrows"
            ></mat-icon>
            <h3 matLine>Reconocimiento al grupo de danzas</h3>
            <p matLine>
              Nuestro gran grupo de danza folclorica fue reconocido a nivel departamental por el instituo de danza contemporanea
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="container-width container-center space-top-16">
  <mat-card id="redes-sociales">
    <mat-card-header>
      <div
        mat-card-avatar
        class="fas fa-share-alt icon-40"
      ></div>
      <mat-card-title>Redes Sociales</mat-card-title>
      <mat-card-subtitle>
        Siguenos en nuestras principales redes sociales para más infomación
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="text-center">
      <a
        mat-icon-button
        href="https://www.facebook.com/IE-San-Rafael-Sede-Cristo-Rey-101130608441085"
        target="_blank"
        style="width: 75px; height: 75px;"
        tippy
        [tippyOptions]="{
          arrow: roundArrow,
          content: 'Siguenos en Facebook'
        }"
      >
        <i
          class="fab fa-facebook-f fa-3x"
          style="line-height: 75px; color: #3b5998"
        ></i>
      </a>
      <a
        mat-icon-button
        href="https://www.youtube.com/user/alcaldiadeheliconia"
        target="_blank"
        style="width: 75px; height: 75px;"
        tippy
        [tippyOptions]="{
          arrow: roundArrow,
          content: 'Siguenos en YouTube'
        }"
      >
        <i
          class="fab fa-youtube fa-3x"
          style="line-height: 75px; color: #c4302b"
        ></i>
      </a>
      <a
        mat-icon-button
        href="https://web.whatsapp.com/send?phone=573117420875"
        target="_blank"
        style="width: 75px; height: 75px;"
        tippy
        [tippyOptions]="{
          arrow: roundArrow,
          content: 'Siguenos en Whatsapp'
        }"
      >
        <i
          class="fab fa-whatsapp fa-3x"
          style="line-height: 75px; color: #25d366"
        ></i>
      </a>
      <!-- <h3>Encuenstranos en Facebook como XXXXXXX</h3> -->
    </mat-card-content>
  </mat-card>
</div>
