<div class="buttons animate__animated animate__fadeIn">

  <!-- facebook -->
  <a
    mat-fab
    color="default"
    tippy
    href="https://www.facebook.com/IE-San-Rafael-Sede-Cristo-Rey-101130608441085"
    target="_blank"
    [tippyOptions]="{
      arrow: roundArrow,
      placement: 'left',
      content: 'Siguenos en Facebook'
    }"
  >
    <mat-icon
      class="fab fa-facebook-f"
      style="color: #3b5998"
    ></mat-icon>
  </a>

  <!-- twitter -->
  <a
    mat-fab
    color="default"
    href="https://www.youtube.com/user/alcaldiadeheliconia"
    target="_blank"
    tippy
    [tippyOptions]="{
      arrow: roundArrow,
      placement: 'left',
      content: 'Siguenos en YouTube'
    }"
  >
    <mat-icon
      class="fab fa-youtube"
      style="color: #c4302b"
    ></mat-icon>
  </a>

  <!-- whatsapp -->
  <a
    mat-fab
    color="default"
    href="https://web.whatsapp.com/send?phone=573117420875"
    target="_blank"
    tippy
    [tippyOptions]="{
      arrow: roundArrow,
      placement: 'left',
      content: 'Siguenos en Whatsapp'
    }"
  >
    <mat-icon
      class="fab fa-whatsapp"
      style="color: #25d366"
    ></mat-icon>
  </a>

</div>
